/* .home {
     display: flex;
     justify-content: center;
     margin-left: auto;
     margin-right: 100px;
     max-width: 1500px;
    

 }
 

 .home_image {
     width: 100%;
     height: 500px;
     z-index: -1;
     margin-bottom: -50px;
     mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
 }
 
 .home__row {  
     display: flex; 
     z-index: 1; 
     margin-left: 5px;  
     margin-right: 5px;
 } */
 .p1{
    width: 935pt;
    height: 90pt;
    /* border: double; */
    /* position: relative; */
    position: 29x;
    /* top: 0px; */
    /* border: 1px solid; */
    position: 100px;
    position-left: 150px;
    /* padding-left: 90px; */
    padding-right: 100px;
    /* padding-right: 30px; */
    left: 100px;
    border: outset;
    border-block-width: 20px;
    border-block-color: white;
    border-block-end-style: none;
}
.home_row1{
    
}